<app-toolbar [title]="'MENU.DASHBOARD' | translate">
    <!--    <button
                type="button"
                mat-icon-button
                *ngIf="rightService.allowed('Dashboard/openSettings')"
                [matTooltip]="translateService.instant('FW.TOOLTIP.DASHBOARD_SETTINGS')"
                (click)="openDashboardSettings()">
            <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
        </button>-->
        <button
                *ngIf="rightService.rights?.['dashboard']?.['openSettings']"
                type="button"
                mat-icon-button
                [matTooltip]="translateService.instant('FW.TOOLTIP.DASHBOARD_SETTINGS')"
                (click)="openDashboardSettings()">
            <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
        </button>
</app-toolbar>

<div class="container-fluid pt-2">
    <div class="row justify-content-start">
        <!--  *ngIf="rightService.allowed('Dashboard/openSettings')"  -->
        <div class="col">
            <div class="widgetLink rounded mx-auto">
                <div class="row h-100">
                    <div class="my-auto w-100 ps-3 pe-3">
                        <i class="fa fa-plus fa-2x"></i><br>
                        <strong>Button 1</strong>
                        <div class="pt-1" style="font-size:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="widgetLink rounded mx-auto">
                <div class="row h-100">
                    <div class="my-auto w-100 ps-3 pe-3" (click)="button2click()">
                        <i class="fa fa-solid fa-shield-halved fa-2x"></i><br>
                        <strong>Load Rights</strong>
                        <div class="pt-1" style="font-size:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="widgetLink rounded mx-auto">
                <div class="row h-100">
                    <div class="my-auto w-100 ps-3 pe-3" (click)="button3click()">
                        <i class="fa fa-solid fa-shield fa-2x"></i><br>
                        <strong>Show Rights</strong>
                        <div class="pt-1" style="font-size:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="widgetLink col rounded mx-auto">
                <div class="row h-100">
                    <div class="my-auto w-100 ps-3 pe-3" (click)="openRouterLink('/reporting')">
                        <i class="fas fa-chart-line fa-2x"></i><br>
                        <strong>Button 4</strong>
                        <div class="pt-1" style="font-size:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="widgetLink rounded mx-auto">
                <div class="row h-100">
                    <div class="my-auto w-100 ps-3 pe-3" (click)="openRouterLink('/template-mgmt')">
                        <i class="fas fa-file-alt fa-2x"></i><br>
                        <strong>Button 5</strong>
                        <div class="pt-1" style="font-size:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="widgetLink rounded mx-auto">
                <div class="row h-100">
                    <div class="my-auto w-100 ps-3 pe-3" (click)="openRouterLink('/file-explorer')">
                        <i class="fa fa-folder-open fa-2x"></i><br>
                        <strong>Button 6</strong>
                        <div class="pt-1" style="font-size:80%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 mb-3">
            <div class="card card-chart">
                <div class="card-body">
                    <h5 class="card-title">Section 1</h5>
                    <div class="card-text">

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card card-chart">
                <div class="card-body">
                    <h5 class="card-title">Section 2</h5>
                    <div class="card-text">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card card-chart">
                <div class="card-body">
                    <h5 class="card-title">Section 3</h5>
                    <div class="card-text">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 mb-3">
            <div class="card card-chart">
                <div class="card-body">
                    <h5 class="card-title">Current User</h5>
                    <div class="card-text">
                        <pre>{{userService.currentUser|json}}</pre>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card card-chart">
                <div class="card-body">
                    <h5 class="card-title">Section 5</h5>
                    <div class="card-text">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 mb-3">
            <div class="card card-chart">
                <div class="card-body">
                    <h5 class="card-title">Section 6</h5>
                    <div class="card-text">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalDashboardSetting>
    <div mat-dialog-content>
        <div class="modal-title">
            <i class="fa fa-gear text-success"></i> {{'DASHBOARD.SETTINGS' | translate}}
        </div>
        <div class="p-3">
            <mat-form-field>
                <mat-label>{{'DASHBOARD.SELECTED_YEAR' | translate}}</mat-label>
                <mat-select [(ngModel)]="dashboardSettings.selectedYear">
                    <mat-option *ngFor="let year of dashboardSettings.selectedYearRange" [value]="year">{{year}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row pt-3">
            <div class="col">
                <button type="button" class="btn btn-secondary me-2" mat-dialog-close>{{'FW.BUTTON.CANCEL' | translate}}</button>
                <button type="button" class="btn btn-success me-2" (click)="updateSettings()" mat-dialog-close>{{'FW.BUTTON.UPDATE' | translate}}</button>
            </div>
        </div>
    </div>
</ng-template>
