<p class="form-text fw-form-element" *ngIf="!(config.viewMode == FormViewMode.EDIT || config.viewMode == FormViewMode.INSERT)">{{ (element._value == '1' ? 'FW.TABLE.TRUE_VALUE' : 'FW.TABLE.FALSE_VALUE') | translate }}</p>

<ng-container *ngIf="config.viewMode == FormViewMode.EDIT || config.viewMode == FormViewMode.INSERT">
    <input
        [name]="element.name" autocomplete="off"
        [(ngModel)]="element._value"
        (ngModelChange)="getNgModel()"
        [disabled]="element._disabled || element.readOnly"
        [required]="element._DB_required"
        type="checkbox"
        [class.form-control-sm]="config.formInputSize === FormInputSize.SMALL"
        [class.form-control-lg]="config.formInputSize === FormInputSize.LARGE"
        #model="ngModel">

    <app-form-validation-info *ngIf="config.formValidationStyle === FormValidationStyle.FIELD" [config]="config" [key]="key"></app-form-validation-info>
</ng-container>
