<ng-template #modalOtGroupForm>
    <div *ngIf="treeViewMode == OtTreeViewMode.GROUP_INSERT || treeViewMode == OtTreeViewMode.GROUP_EDIT" [formGroup]="otGroupForm" class="modal-form">
        <div *ngIf="treeViewMode == OtTreeViewMode.GROUP_INSERT" class="modal-form__title">
            <i class="fas fa-plus"></i> OT-Group erstellen
        </div>
        <div *ngIf="treeViewMode == OtTreeViewMode.GROUP_EDIT" class="modal-form__title">
            <i class="fas fa-edit"></i> OT-Group bearbeiten
        </div>
        <div class="modal-content">
            <div class="row">
                <div class="col-4">
                    <label>Level</label>
                    <input class="form-control validation-field" type="text" formControlName="level" autocomplete="off">
                    <small class="text-danger" *ngIf="otGroupForm.controls.level.touched">
                        <span class="text-danger" *ngIf="otGroupForm.controls.level.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                    </small>
                </div>
                <div class="col">
                    <label>OTTID</label>
                    <div class="d-flex">
                        <div *ngIf="!view.setting.insertOtType">
                            <select class="form-select validation-field" formControlName="ottid" autocomplete="off">
                                <option [ngValue]="null" selected style="display: none;">{{'FW.FORM.SELECT'| translate}}</option>
                                <option *ngFor="let type of view.data.otTypes" [ngValue]="type.OTTID">
                                    {{type.name}}
                                </option>
                            </select>
                            <small class="text-danger" *ngIf="otGroupForm.controls.ottid.touched">
                                <span class="text-danger" *ngIf="otGroupForm.controls.ottid.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                            </small>
                        </div>
                        <div *ngIf="view.setting.insertOtType">
                            <input (keyup)="checkTypeExist()" class="form-control validation-field" type="text" formControlName="ottype" autocomplete="off">
                            <div *ngIf="view.data.otTypeLike?.length > 0" class="ot-type-exist">
                                <div class="ot-type-exist__title">Typ gefunden:</div>
                                <div class="d-flex ot-type-exist__entry" *ngFor="let type of view.data.otTypeLike" (click)="useTypeFound(type.OTTID)">
                                    <div class="pr-2">{{type.name}}</div>
                                </div>
                            </div>
                            <small class="text-danger" *ngIf="otGroupForm.controls.ottype.touched">
                                <span class="text-danger" *ngIf="otGroupForm.controls.ottype.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                            </small>
                        </div>
                        <div *ngIf="!view.setting.insertOtType" class="">
                            <button (click)="enableInsertModeType()" type="button" class="btn btn-secondary"><i class="fas fa-plus"></i></button>
                        </div>
                        <div *ngIf="view.setting.insertOtType" class="">
                            <button (click)="disableInsertModeType()" type="button" class="btn btn-secondary"><i class="fas fa-times"></i></button>
                            <button (click)="insertOtType()" [disabled]="otGroupForm.invalid || view.data.otTypeExist?.length > 0" type="button" class="btn btn-success"><i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Name</label>
                <input (keyup)="checkGroupnameExist()" class="form-control validation-field" type="text" formControlName="groupname" autocomplete="off">
                <div *ngIf="view.data.otGroupnameLike?.length > 0" class="ot-type-exist">
                    <div class="ot-type-exist__title">Name(n) gefunden:</div>
                    <div class="d-flex ot-type-exist__entry" *ngFor="let group of view.data.otGroupnameLike" (click)="openForm(group.OTGID)">
                        <div class="pr-2">{{group.groupname}}</div>
                    </div>
                </div>
                <small class="text-danger" *ngIf="otGroupForm.controls.groupname.touched">
                    <span class="text-danger" *ngIf="otGroupForm.controls.groupname.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                </small>
            </div>
            <div class="col">
                <label>Grouplevel</label>
                <input class="form-control validation-field" type="text" formControlName="grouplevel" autocomplete="off">
                <small class="text-danger" *ngIf="otGroupForm.controls.grouplevel.touched">
                    <span class="text-danger" *ngIf="otGroupForm.controls.grouplevel.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Description</label>
                <textarea class="form-control" rows="3" formControlName="description" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="row modal-form__buttons">
            <div class="col-auto">
                <button (click)="closeForm()" type="button" class="btn btn-secondary me-1" mat-dialog-close><i class="fas fa-times"></i> {{'FW.BUTTON.CANCEL' | translate}}</button>
            </div>
            <div *ngIf="!view.setting.insertOtType" class="col text-end">
                <button
                        *ngIf="treeViewMode == OtTreeViewMode.GROUP_INSERT"
                        (click)="insertOtGroup()"
                        [disabled]="otGroupForm.invalid || view.data.otGroupnameExist?.length > 0"
                        type="button"
                        class="btn btn-success" mat-dialog-close><i class="fas fa-plus"></i> {{'FW.BUTTON.SAVE' | translate}}</button>
                <button
                        *ngIf="treeViewMode == OtTreeViewMode.GROUP_EDIT"
                        (click)="updateOtGroup()"
                        [disabled]="otGroupForm.invalid || view.data.otGroupnameExist?.length > 0"
                        type="button"
                        class="btn btn-success" mat-dialog-close><i class="fas fa-plus"></i> {{'FW.BUTTON.SAVE' | translate}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="treeViewMode == OtTreeViewMode.GROUP_DELETE" class="modal-delete">
        <div class="modal-form__title">
            <i class="fas fa-plus"></i> OT-Group löschen
        </div>
        <div class="modal-delete__content">

        </div>
        <div class="row modal-form__buttons">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary me-1" mat-dialog-close><i class="fas fa-times"></i> {{'FW.BUTTON.CANCEL' | translate}}</button>
            </div>
            <div class="col text-end">
                <button (click)="deleteOtGroup()"
                        type="button"
                        class="btn btn-danger" mat-dialog-close><i class="fas fa-minus"></i> {{'FW.BUTTON.DELETE' | translate}}</button>
            </div>
        </div>
    </div>
</ng-template>
<!--
<pre class="pt-3">
    {{view.setting|json}}
    otViewMode: {{otViewMode}}
</pre>
-->
