<div class="row pb-3">
    <div class="col">
        <button type="button" class="btn btn-dark ml-1" (click)="openRouterLink('dashboard')"><i class="fas fa-backward"></i> Zurück zum Rechte Desktop</button>
    </div>
</div>

<div *ngIf="table.config" class="container-fluid pt-2">
    <app-table [data]="table">
        <div class="row pt-3">
            <div class="col pt-1" style="min-width: 80px">
                <app-table-search-field [data]="table"></app-table-search-field>
            </div>
            <div class="col-auto text-end">
                <div class="row">
                    <div class="col-auto text-end pt-2">
                        <app-table-index [data]="table"></app-table-index>
                    </div>
                    <div class="col-auto text-end pt-1">
                        <app-table-export-button [data]="table"></app-table-export-button>
                    </div>
                    <div class="col-auto text-end pt-1">
                        <app-table-filter-button [data]="table"></app-table-filter-button>
                    </div>
                    <div class="col-auto text-end pt-1">
                        <app-table-row-switch [data]="table"></app-table-row-switch>
                    </div>
                </div>
            </div>
        </div>
        <div class="card fw-table mt-3">
            <div class="card-body">
                <app-table-table  *ngIf="table.result.table" [data]="table"></app-table-table>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <app-table-pagination [data]="table"></app-table-pagination>
            </div>
            <div class="col-sm-6 text-end">
                <app-table-row-count [data]="table"></app-table-row-count>
            </div>
        </div>
    </app-table>
</div>
