.ot-group {
  &__row {
    padding-top: 5px;

    &:hover{
      background-color: #efefef;
    }
    &-name {
      font-weight: bold;
    }

    &-type {
      font-weight: normal;
    }
  }

  &__form {
    max-width: 600px !important;
  }
}
.ot-position {
  &__row {
    //margin: 5px 0 0 20px;

    &:hover{
      background-color: #e0e0e0;
    }
    &-name {
      font-weight: bold;
    }
  }
}
.ot-field {
  &__row {
    //margin: 5px 0 0 10px;

    &:hover{
      background-color: #d0d0d0;
    }
    &-name {
      font-weight: bold;
    }
  }
}
