<div class="container-fluid pt-3">
    <div class="ot-group">
        <div class="row">
            <div class="col-auto fw-bold">OT-Group</div>
            <div *ngIf="view.setting.viewMode !== OtTreeViewMode.GROUP_INSERT && view.setting.viewMode !== OtTreeViewMode.GROUP_EDIT" class="col"><span
                    (click)="openGroupForm(OtTreeViewMode.GROUP_INSERT)" class="badge fw-button-xs--success"><i class="fa-solid fa-plus"></i></span></div>
        </div>
        <div *ngFor="let group of view.data.tree" class="row ot-group__row mb-3">
            <div class="col-auto ot-group__row-name">{{group['groupname']}}</div>
            <div class="col-auto ot-group__row-type">{{group['level']}}</div>
            <div class="col-auto ot-group__row-type">{{group['grouplevel']}}</div>
            <div class="col-auto ot-group__row-type">{{group['typename']}}</div>
            <div class="col">
                <span (click)="openGroupForm(OtTreeViewMode.GROUP_EDIT, group['OTGID'])" class="badge fw-button-xs--success"><i class="fa-solid fa-edit"></i></span>
                <span (click)="openPositionGroupForm(OtTreeViewMode.POSITION_GROUP_INSERT, null, $event)" class="ms-1 badge fw-button-xs--success"><i class="fa-solid fa-plus"></i></span>
                <span (click)="deleteOtGroup(OtTreeViewMode.GROUP_DELETE, group['OTGID'], $event)" class="ms-1 badge fw-button-xs--danger"><i class="fa-solid fa-times"></i></span>
            </div>
            <ng-container *ngIf="group['positions']">
                <div *ngFor="let position of group['positions']" class="row ot-position__row">
                    <div class="col-auto ot-position__row-name ms-3">{{position['name']}}</div>
                    <div class="col-auto ot-field__row-type ms-3">{{position['positiongroupname']}}</div>
                    <div class="col">
                        <span (click)="openPositionGroupForm(OtTreeViewMode.POSITION_GROUP_EDIT, position['OTPID'], $event)" class="badge fw-button-xs--success"><i class="fa-solid fa-edit"></i></span>
                        <span (click)="openFieldForm(OtTreeViewMode.FIELD_INSERT, null, $event)" class="ms-1 badge fw-button-xs--success"><i class="fa-solid fa-plus"></i></span>
                        <span (click)="deleteOtPosition(OtTreeViewMode.POSITION_GROUP_DELETE, group['OTGID'], $event)" class="ms-1 badge fw-button-xs--danger"><i class="fa-solid fa-times"></i></span>
                    </div>
                    <ng-container *ngIf="position['fields']">
                        <div *ngFor="let field of position['fields']" class="row ot-field__row">
                            <div class="col-auto ot-field__row-name ms-5">{{field['name']}}</div>
                            <div class="col-auto ot-field__row-type">{{field['type']}}</div>
                            <div class="col-auto ot-field__row-type">{{field['type']}}</div>
                            <div *ngIf="field['formular'] == '0'" class="col-auto ot-field__row-type"><i class="fa fa-square" aria-hidden="true"></i></div>
                            <div *ngIf="field['formular'] == '1'" class="col-auto ot-field__row-type"><i class="fa fa-check-square" aria-hidden="true"></i></div>
                            <div class="col">
                                <span (click)="openFieldForm(OtTreeViewMode.FIELD_EDIT, field['OTFID'], $event)" class="badge fw-button-xs--success"><i class="fa-solid fa-edit"></i></span>
                                <span (click)="deleteOtField(OtTreeViewMode.FIELD_DELETE, group['OTFID'], $event)" class="ms-1 badge fw-button-xs--danger"><i class="fa-solid fa-times"></i></span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<app-ot-group-form [treeViewMode]="view.setting.viewMode"></app-ot-group-form>
<app-ot-position-group-form [treeViewMode]="view.setting.viewMode"></app-ot-position-group-form>
<app-ot-position-form [treeViewMode]="view.setting.viewMode"></app-ot-position-form>

