<div [formGroup]="registerService.registerFormGroup">
    <label>{{'FW.USER.PASSWORD' | translate}}</label>
    <input class="form-control" type="password" [formControlName]="field.field" autocomplete="off">
    <ul class="text-danger mt-1" *ngIf="registerService.registerFormGroup.controls.password.touched && registerService.registerFormGroup.controls.password.errors?.minlength">
        <li><small>{{ 'FW.FORM_VALIDATION.MIN_LENGTH' | translate: {minLength: field.minLength} }}</small></li>
    </ul>
</div>
