/*
.right {
  margin-top: 4px;
  color: #5b5b5b;
  font-size: 0.8em;

  &__allow-permanent {
    background-color: #81de93;
  }

  &__assigned {
    background-color: #bbfac6;
  }

  &__assigned-alias {
    background-color: #e7f037;
  }

  &__allow-from-alias {
    background-color: #feffdb;
  }
}

.table-assigned-rights {
  table-layout: fixed;

  td:nth-child(1) {
    width: 35px
  }

  td:nth-child(2) {
    width: 130px
  }
}
*/

/*
.right-group {
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 2px;
}

.content-toggle {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 100;
}

*/

