<app-file-viewer
    *ngIf="files && viewDisabled === false"
    [files]="files"
    [viewReadonly]="viewReadonly"
    [viewFullscreen]="viewFullscreen"
    [viewThumbnails]="viewThumbnails"
    [viewThumbnailsSize]="viewThumbnailsSize"
    [viewThumbnailsTilesSize]="viewThumbnailsTilesSize"
    [viewThumbnailsTitle]="viewThumbnailsTitle"
    [viewShowFileInfo]="viewShowFileInfo"
    [viewExternalData]="viewExternalData"
    [viewEditModeFlipImage]="viewEditModeFlipImage"
    [viewNoFilesText]="viewNoFilesText"
    [viewZoomNavigator]="viewZoomNavigator"
    [viewZoomNavigatorMinValue]="viewZoomNavigatorMinValue"
    [viewZoomNavigatorMaxValue]="viewZoomNavigatorMaxValue"
    [viewLayout]="viewLayout"
    [showViewLayoutSwitcher]="showViewLayoutSwitcher">
</app-file-viewer>
<app-file-upload class="fw-file-upload"
    *ngIf="files && viewReadonly === false"
    [doctype]="doctype"
    [fkId]="fkId"
    [fkName]="fkName"
    [fkTable]="fkTable"
    [uploadAccept]="uploadAccept"
    [uploadSelectMultiple]="uploadSelectMultiple"
    [uploadMaxFileCount]="uploadMaxFileCount"
    [uploadMaxFilesize]="uploadMaxFilesize"
    [uploadMaxSingleFilesize]="uploadMaxSingleFilesize"
    [uploadedCount]="filesCount"
    (uploaded)="loadFiles()"
    [showDragAndDrop]="showDragAndDrop"
    [uploadDisabled]="uploadDisabled">
</app-file-upload>
