<p class="form-text fw-form-element" *ngIf="!(config.viewMode == FormViewMode.EDIT || config.viewMode == FormViewMode.INSERT)">{{ element._value }}</p>

<ng-container *ngIf="config.viewMode == FormViewMode.EDIT || config.viewMode == FormViewMode.INSERT">
    <textarea
        [name]="element.name"
        [(ngModel)]="element._value"
        (ngModelChange)="getNgModel()"
        [disabled]="element._disabled || element.readOnly"
        [required]="element._DB_required"
        [placeholder]="element.placeholder"
        class="form-control"
        [class.form-control-sm]="config.formInputSize === FormInputSize.SMALL"
        [class.form-control-lg]="config.formInputSize === FormInputSize.LARGE"
        autocomplete="off"
        #model="ngModel"
    ></textarea>

    <app-form-validation-info *ngIf="config.formValidationStyle === FormValidationStyle.FIELD" [config]="config" [key]="key"></app-form-validation-info>
</ng-container>
