<div class="bg">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="panel panel-primary panel-transparent col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="panel-body p-3 text-center">
          <img src="assets/img/baumit-favicon-gross.png" class="img-fluid mx-auto d-block pt-3" alt="SIH">
          <div class="pt-2">
            <h1>{{settingsService.frameworkSettings.appName}}</h1>
          </div>
          <div class="pb-3">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

