<ng-template #modalOtPositionForm>
        <div *ngIf="treeViewMode == OtTreeViewMode.POSITION_INSERT || treeViewMode == OtTreeViewMode.POSITION_EDIT" [formGroup]="otPositionForm" class="modal-form">
            <div *ngIf="treeViewMode === OtTreeViewMode.POSITION_INSERT" class="modal-form__title">
                <i class="fas fa-plus"></i> OT-Position erstellen
            </div>
            <div *ngIf="treeViewMode === OtTreeViewMode.POSITION_EDIT" class="modal-form__title">
                <i class="fas fa-edit"></i> OT-Position bearbeiten
            </div>
            <div class="modal-content">
                <div class="row">
                    <div class="col-4">
                        <label>ID</label>
                        <input class="form-control validation-field" type="text" formControlName="id" autocomplete="off">
                        <small class="text-danger" *ngIf="otPositionForm.controls.id.touched">
                            <span class="text-danger" *ngIf="otPositionForm.controls.id.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                        </small>
                    </div>
                    <div class="col">
                        <label>Position Group</label>
                        <div class="d-flex">
                            <div *ngIf="!view.setting.insertOtPositionGroup">
                                <select class="form-select validation-field" formControlName="otpgid" autocomplete="off">
                                    <option [ngValue]="null" selected style="display: none;">{{'FW.FORM.SELECT'| translate}}</option>
                                    <option *ngFor="let positionGroup of view.data.otPositionGroups" [ngValue]="positionGroup.OTPGID">
                                        {{positionGroup.name}}
                                    </option>
                                </select>
                                <small class="text-danger" *ngIf="otPositionForm.controls.otpgid.touched">
                                    <span class="text-danger" *ngIf="otPositionForm.controls.otpgid.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                                </small>
                            </div>
                            <div *ngIf="view.setting.insertOtPositionGroup">
                                <input (keyup)="checkPositionGroupExist()" class="form-control validation-field" type="text" formControlName="positionGroupName" autocomplete="off">
                                <div *ngIf="view.data.otPositionGroupLike?.length > 0" class="ot-type-exist">
                                    <div class="ot-type-exist__title">Typ gefunden:</div>
                                    <div class="d-flex ot-type-exist__entry" *ngFor="let positionGroup of view.data.otPositionGroupLike" (click)="usePositionGroupFound(positionGroup.OTPGID)">
                                        <div class="pr-2">{{positionGroup.name}}</div>
                                    </div>
                                </div>
                                <small class="text-danger" *ngIf="otPositionForm.controls.positionGroupName.touched">
                                    <span class="text-danger" *ngIf="otPositionForm.controls.positionGroupName.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                                </small>
                            </div>
                            <div *ngIf="!view.setting.insertOtPositionGroup" class="">
                                <button (click)="enableInsertModePositionGroup()" type="button" class="btn btn-secondary"><i class="fas fa-plus"></i></button>
                            </div>
                            <div *ngIf="view.setting.insertOtPositionGroup" class="">
                                <button (click)="disableInsertModePostionGroup()" type="button" class="btn btn-secondary"><i class="fas fa-times"></i></button>
                                <button (click)="insertOtPositionGroup()" [disabled]="otPositionForm.invalid || view.data.otPositionGroupExist?.length > 0" type="button" class="btn btn-success"><i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <input (keyup)="checkPositionNameExist()" class="form-control validation-field" type="text" formControlName="name" autocomplete="off">
                    <div *ngIf="view.data.otPositionNameLike?.length > 0" class="ot-type-exist">
                        <div class="ot-type-exist__title">Name(n) gefunden:</div>
                        <div class="d-flex ot-type-exist__entry" *ngFor="let position of view.data.otPositionNameLike" (click)="openForm(OtViewMode.POSITION_EDIT, position.OTPID)">
                            <div class="pr-2">{{position.name}}</div>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="otPositionForm.controls.name.touched">
                        <span class="text-danger" *ngIf="otPositionForm.controls.name.errors?.required">{{'FW.FORM.INPUT_REQUIRED' | translate}}</span>
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" formControlName="description" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="row modal-form__buttons">
                <div class="col-auto">
                    <button (click)="closeForm()" type="button" class="btn btn-secondary me-1" mat-dialog-close><i class="fas fa-times"></i> {{'FW.BUTTON.CANCEL' | translate}}</button>
                </div>
                <div class="col text-end">
                    <button
                            *ngIf="treeViewMode == OtTreeViewMode.POSITION_INSERT"
                            (click)="insertOtPosition()"
                            [disabled]="otPositionForm.invalid "
                            type="button"
                            class="btn btn-success" mat-dialog-close><i class="fas fa-plus"></i> {{'FW.BUTTON.SAVE' | translate}}</button>
                    <button
                            *ngIf="treeViewMode == OtTreeViewMode.POSITION_EDIT"
                            (click)="updateOtPosition()"
                            [disabled]="otPositionForm.invalid"
                            type="button"
                            class="btn btn-success" mat-dialog-close><i class="fas fa-plus"></i> {{'FW.BUTTON.SAVE' | translate}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="treeViewMode == OtTreeViewMode.POSITION_DELETE" class="modal-delete">
            <div class="modal-form__title">
                <i class="fas fa-plus"></i> OT-Group löschen
            </div>
            <div class="modal-delete__content">

            </div>
            <div class="row modal-form__buttons">
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary me-1" mat-dialog-close><i class="fas fa-times"></i> {{'FW.BUTTON.CANCEL' | translate}}</button>
                </div>
                <div class="col text-end">
                    <button (click)="deleteOtPosition()"
                            type="button"
                            class="btn btn-danger" mat-dialog-close><i class="fas fa-minus"></i> {{'FW.BUTTON.DELETE' | translate}}</button>
                </div>
            </div>
        </div>
</ng-template>
