<div class="modal fade" id="register-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{'USER.LOGIN_REGISTRATION_INFO' | translate}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'FW.BUTTON.OK' | translate}}</button>
            </div>
        </div>
    </div>
</div>
