<div [formGroup]="registerService.registerFormGroup">
    <label>{{'FW.USER.PASSWORD_REPEAT' | translate}}</label>
    <input class="form-control" type="password" [formControlName]="field.field" autocomplete="off">
    <ul class="text-danger mt-1"
         *ngIf="registerService.registerFormGroup.controls['password_confirm'].touched
         && (registerService.registerFormGroup.controls['password_confirm'].errors?.required || registerService.registerFormGroup.controls['password_confirm'].errors?.equalTo)">
        <li *ngIf="registerService.registerFormGroup.controls['password_confirm'].errors?.required"><small>{{ 'FW.FORM_VALIDATION.INPUT_REQUIRED' | translate}}</small></li>
        <li *ngIf="registerService.registerFormGroup.controls['password_confirm'].errors?.equalTo"><small>{{ 'FW.FORM_VALIDATION.PW_NOT_EQUAL' | translate}}</small></li>
    </ul>
</div>
